<div class="container">
  <ul>
    <li>
      <p>
        <code>`` ``</code> : To escape backticks in markdown. For example, to display a backtick like <code>`code`</code> in a code block,
        use <code>`` ``</code>.
      </p>
    </li>
    <li>
      <p>
        \ : To escape special characters &#96;&#42;&#95;&#123;&#125;&#91;&#93;&#44;&#46;&#40;&#41;&#35;&#43;&#45;&#46;&#33;&#124; in
        markdown. For example, to display an asterisk like *asterisk*, use <code>\*asterisk\*</code>.
      </p>
    </li>
  </ul>
</div>
